

@{
    ViewBag.Title = "Chitietsach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #Datmua a {
        clear: both;
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #Datmua a:hover {
            background-color: gray;
            color: red;
        }
</style>

<h3> THÔNG TIN CHI TIẾT SÁCH</h3>
<div>
    <div style="width:40%; float:left; border-left: dotted 1px; border-color:azure">
        <img src="~/Content/images/@Model.Anhbia" width="100%" />
    </div>
    <div style="width:60%; float:left; padding:10px">
        <h4 style="font-weight:bold; color:red">Tên sách: @Model.Tensach </h4>
        <p style="text-align:justify"><Span style="font-weight:bold"> Mô tả: </Span>@Model.Mota </p>
        <p style="font-weight:bold"> Giá bán: <span style="color:red; font-size:16pt "> @Model.Giaban VNĐ </span></p>
    </div>
    <div>
        <div id="Datmua">
            <a href="@Url.Action("Themgiohang", "Giohang", new { id = @Model.Masach , strURL= Request.Url.ToString() })" class="list-group-item">
                ĐẶT MUA
            </a>
        </div>
    </div>
</div>

